body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
}

header {
    background-color: #8faef1;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    align-items: center;
    padding: 20px;
}

.text {
    flex: 1;
    margin-right: 20px;
}

.image {
    flex: 0 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    font-size: 0.8em; /* Мелкий шрифт */
}
